<table class="table table-hover">
    <caption>Number of Club revisions: {{ clubRevisions.length}}
    </caption>
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col" (click)="sort('Name')">
                Name</th>
            <th scope="col" (click)="sort('Updated')">
                Updated</th>
        </tr>
    </thead>
    <tr *ngFor="let revision of clubRevisions">
        <th scope="row"> {{revision.Id}} </th>
        <td>
            {{revision.Name }}
        </td>
        <td> {{revision.Updated }}
        </td>
    </tr>
    <tr *ngIf="!clubRevisions || !clubRevisions.length">
        <td colspan="3">No club revisions found</td>
    </tr>
</table>